.field {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	background-color: #18191d;

	// border: none;
	// outline: none;
	// resize: none;

	> textarea {
		caret-color: #d9d9d9;
		color: #d9d9d9;
		border-radius: 8px;
		background: #282e33;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
		padding: 15px 8px 15px 16px;

		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 18px;
		letter-spacing: -0.32px;
		border: none;
		outline: none;
		resize: none;
		width: 100%;
		height: 48px;
		max-height: 200px;

		transition-property: color, background-color, border-color,
			text-decoration-color, fill, stroke;
		transition-timing-function: ease-linear;
		transition-duration: 444ms;
		transition-duration: 300ms;
		transition-timing-function: linear;

		overflow-y: scroll;
		&::-webkit-scrollbar {
			background-color: transparent;
			width: 6px;
		}

		&::-webkit-scrollbar-track {
			margin: 5px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 4px;
			background-color: #5c80ff; /* цвет плашки */
			border-radius: 20px; /* закругления плашки */
		}

		&::placeholder {
			color: #d9d9d9;
		}
	}
}

.error {
	position: absolute;
	bottom: -1.25rem /* -20px */;
	left: 2.25rem /* 36px */;
	--tw-text-opacity: 1;
	color: rgb(220 38 38 / var(--tw-text-opacity));
	--tw-text-opacity: 1;
	color: rgb(220 38 38 / var(--tw-text-opacity));
}
